name: variables-secrets
on:
  push:
    branches:
      - main
env:
  baz_variable: BAZ

jobs:
  variables-secrets-1:
    runs-on: ubuntu-latest
    env:
      bar_variable: BAR
    steps:
      - name: Retrieve secret via an env var
        env:
          example_api_key: ${{ secrets.EXAMPLE_API_KEY }}
          foo_variable: FOO
        run: echo "$example_api_key $foo_variable $baz_variable"
      - name: Directly retrieve a secret
        run: echo "${{ secrets.EXAMPLE_API_KEY }} $bar_variable"
  variables-secrets-2:
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve global env var
        run: echo "$baz_variable $bar_variable $foo_variable"
